* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  font-weight: 500;
}

a {
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 20px;
}

h1,
h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

a.btnw {
  background-color: white;
  color: #23272a;
}

a.btng {
  background-color: #23272a ;
  color: white;
}

/* header */
header {
  background-color: #255EE9;
  padding: 20px;
  font-size: .9rem;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  max-width: 1200px;
  margin: auto;
}

.menu a {
  padding: 0 20px;
  color: white;
}
/* /header */

/* main */
section {
  padding: 40px 0;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* section properties */
.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  color: white;
  padding: 100px 0;
}

.section-grey {
  background-color: #f6f6f6;
}

/* properties of section contents */
.box {
  width: 80%;
  max-width: 900px;
  padding: 40px;
  text-align: center;
}

.box *{
  margin-bottom: 20px;
}


.box p,
.text p,
.section-text p {
  line-height:150%;
}

.box a {
  padding: 10px 20px;
}

.image {
  width: 60%;
  margin: 40px;
}

.text {
  width: 40%;
  padding: 70px 40px;
}

.text *, 
.section-text *{
  margin-bottom: 40px;
}

.big-box {
  width: 100%;
  text-align: center;
  padding: 40px;
}

.section-text {
  padding: 0 90px;
}

.section-link h3 {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.btnb {
  background-color: #7289da ;
  color: white;
  font-size: 1.2rem;
}
/* /main */

/* footer */
footer {
  background-color: #23272a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
  color: white;
}

hr {
  margin: 40px auto;
}

.top-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-left {
  padding: 40px;
}

.bottom-footer {
  background-color: aquamarine;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* properties of top-footer */
.section-left {
  width: 30%;
  height: 400px;
  border: 1px dashed black;
}

.section-left h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #7289da;
}

.section-left img {
  width: 20px;
}

.section-left span {
  font-size: 0.7rem;
}

.social {
  margin-top: 10px;
}

.social i {
  margin: 5px;
}
.section-right {
  background-color: lightseagreen;
  width: 70%;
  height: 400px;
  border: 1px dashed black;
  display: flex;
  flex-direction: row;
}

.section-right .col {
  width: calc(100% / 4);
  border: 1px dashed white;
}

/* properties of buttom-footer */
.logo-footer,
button {
  background-color: lightcoral;
  border: 1px dashed black;
  padding: 5px;
} 
/* /footer */
